html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
}
header {
  text-align: center;
  background-color: #25b7d3;
  border-bottom: 2px solid;
}

main {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}
.container {
  height: 100%;
  width: 500px;
  position: relative;
  background-color: white;
  display: grid;
  justify-content: center;
  grid-template-rows: 640px auto;
}

.imageWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.slide {
  display: none;
}

.text {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.photo {
  height: 600px;
  width: 400px;
  border: 2px solid;
  border-radius: 10px;
}
.arrowBtn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}
.arrowBtn:hover {
  transform: scale(1.2);
}
#leftArrow {
  position: absolute;
  left: 0;
  top: 40%;
}
#rightArrow {
  position: absolute;
  right: 0;
  top: 40%;
}
.arrow {
  width: 30px;
}

.dotsWrapper {
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: auto;
}
.dotsWrapper > button {
  cursor: pointer;
  height: 15px;
  border-radius: 100%;
  transition: 0.5s;
}
.dotsWrapper > button:hover {
  background-color: grey;
}
.selected {
  background-color: grey;
}

#imageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transition: 1s;
  font-size: 1rem;
}

.text {
  font-size: 3rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #25b7d3;
  border-top: 2px solid;
}
.github {
  height: 20px;
  transition: 0.5s;
}
.github:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-rows: 540px auto;
    width: 400px;
  }

  .photo {
    height: 500px;
    width: 300px;
  }
}
